### Microservice config ###################################

MS_PORT_PUBLIC=8087
MS_HOST_PUBLIC=localhost

### Paths #################################################

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=/var/us-skeleton

### PHP ###################################################

PHP_VERSION=7.3
PHP_IDE_CONFIG=serverName=laradock
PHP_FPM_FAKETIME=-0

### Docker Host IP ########################################

# Enter your Docker Host IP (will be appended to /etc/hosts). Default is `10.0.75.1`
DOCKER_HOST_IP=10.0.75.1